.main-category-block .select-options {
    background: #F1F1F1;
    width: 290px;
    height: 500px;
    padding: 32px 4px;
    gap: 12px;
}

.select-options ul {
    list-style: none;
    height: 430px;
    padding-left: 12px;
}

.main-category-block h3 {
    color: #010114;
    font-size: 20px;
    font-weight: 600;
    line-height: 80px;
}